{{ partial "head.html" . }}
<div class="content container">
  <div class="posts">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
    {{ range $paginator.Pages }}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>
      <span class="post-date">{{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read{{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}
      {{ if isset .Params "categories" }}
      <br/>
      {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      {{ end }}</span>
      {{ if eq .Site.Params.truncate false }}
      {{ .Content }}
      {{ else }}
      <p>{{ .Description }}</p>
      <a href="{{ .Permalink }}">Read On &rarr;</a>
      {{ end }}
    </div>
    {{ end }}

    {{ $pag := $.Paginator }}
        {{ if gt $pag.TotalPages 1 }}
        <ul class="pagination">
            <li {{ if not $pag.HasPrev }}class="disabled"{{ end }}>
                <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            {{ range $pag.Pagers }}
                <li {{ if eq . $pag }}class="active"{{ end }}><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
            {{ end }}
            <li {{ if not $pag.HasNext }}class="disabled"{{ end }}>
                <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    {{ end }}
  </div>
</div>

{{ with .Site.DisqusShortname }}
<script type="text/javascript">
var disqus_shortname = {{ . }};
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{{ end }}
{{ partial "foot.html" . }}
